.formulario form {
  width: 50%;
  margin: 0 auto
}

.oradores {
  margin-top: 100px;
}

@media (max-width: 768px) {
  body {
    margin-top: 80px;
  }
}

@media (max-width: 576px) {
  .formulario form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .banner {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  .carousel-caption h5 {
    font-size: 0.6rem; 
  }
  .carousel-caption p {
    font-size: 0.6rem; 
  }
  .carousel-caption .btn {
    font-size: 0.5rem; 
    padding: 0.25rem 0.5rem; 
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
}
