.formulario form {
  width: 50%;
  margin: 0 auto
}

@media (max-width: 576px) {
  .formulario form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  
  .carousel-caption {
    bottom: 30px;
  }
}
  .carousel-caption h5 {
    font-size: 1rem;
  }
  
  .carousel-caption p {
    font-size: 1rem;
  }